<h1>Willkommen</h1>
<p>
	Dies ist ein Jobportal, das wieder Respekt und Anstand bei der Jobsuche 
	f&ouml;rdern soll. Vorbei die Zeiten, an denen die Personalabteilungen 
	v&ouml;llig &uuml;berlastet sind und es nicht schaffen, wie unter intelligenten 
	Menschen &uuml;blich, Absagen mit einer nachvollziehbaren Begr&uuml;ndung zu 
	verschicken.
</p>
<p>
	Oft melden sich die Firmen &uuml;berhaupt nicht, schicken nur einen 
	nichtsagenden Textbaustein oder w&uuml;rfeln sich nicht nachvollziehbare 
	Gr&uuml;nde zusammen. Das Problem ist nat&uuml;rlich auch, da&szlig; sie sich
	im Vorfeld keine Gedanken &uuml;ber das machen, was sie wirklich brauchen, 
	sondern schreiben einfach irgendwas, das vern&uuml;nftig klingt, gehen aber am 
	tats&auml;chlichen Bedarf vorbei. Dann sind die Ausschreibungen viel zu wage, 
	was dazu f&uuml;hrt, da&szlig; mehr Personen sich bewerben und die Personaler 
	mal wieder keine Zeit haben, jedem individuell zu antworten.
</p>
<p>
	Ein anderes Problem ist, da&szlig; die Personaler oft keine Ahnung haben von 
	den Stellen, die ausgechrieben werden, und sich daher k&uuml;nstliche 
	Dummheiten (andere nennen es aus nicht nachvollziehbaren Gr&uuml;nden 
	&quot;Intelligenz&quot;) verwenden. Dabei werden dann auch oft Bewerber 
	herausgefiltert, die eigentlich super passen w&uuml;rden, und keiner merkt es, 
	weil die Ergebnisse nicht hinterfragt werden.
</p>
<h2>Was l&auml;uft hier anders?</h2>
<p>
	Firmen beschreiben hier ihre Stellen, die ausgeschrieben werden, mit den 
	Anforderungen. Bewerber ihre F&auml;higkeiten. Die Skills k&ouml;nnen hier von 
	jedem eingetragen werden und k&ouml;nnen dann auch von jedem verwendet werden. 
	Wenn Sie eine neue Anforderung bzw. F&auml;higkeit hier eintragen wollen, 
	pr&uuml;fen Sie bitte, ob nicht schon ein &auml;hnlicher Eintrag existiert. 
	Das Ziel sollte sein, so wenig wie m&ouml;glich und so viel wie n&ouml;tig.
</p>
<p>
	Achten Sie bei der Formulierung Ihrer Ausschreibung darauf, was Sie wirklich 
	brauchen, und nicht das was Sie wollen. Wenn Sie zu wenig schreiben, erhalten 
	Sie zuviele Bewerber, die Ihre Anforderungen nicht erf&uuml;llen. Schreiben 
	Sie aber zuviel, erhalten Sie Bewerber, die Sie letztendlich ent&auml;uschen 
	m&uuml;ssen, weil sie sich irgendwann langweilen. Hier k&ouml;nnen Sie Ihre 
	Intelligenz beweisen und versuchen, ein optimales Level zu finden.
</p>
<p>
	F&uuml;r Bewerber gilt im &Uuml;brigen das gleiche. Wenn Sie sich unterfordert 
	f&uuml;hlen, werden Sie sich ganz schnell langweilen und letztendlich nur 
	schlechte Ergenisse liefern. Umgekehrt sollten Sie nicht &uuml;bertreiben bei 
	Ihren F&auml;higkeiten. Sie m&ouml;gen sich damit zwar einen Startvorteil 
	verschaffen, wenn es darum geht, hier die erste Runde zu &uuml;berstehen, das 
	wird aber ganz schnell ans Tageslicht kommen und Sie haben nichts gewonnen
	und m&ouml;glicherweise einem anderen Bewerber, der gepasst h&auml;tte, die 
	Chance versaut.
</p>
<p>
	<b>Noch nicht vollst&auml;ndig implementiert:</b> Jobangebote haben immer zwei 
	Datumsangaben, &quot;Offen ab&quot; und Bewerbungsschlu&szlig;. Vor dem 
	Startdatum werden Jobangebote nur dann &ouml;ffentlich gezeigt, wenn sie auf 
	&quot;sichtbar&quot; eingestellt sind. Bewerbungen k&ouml;nnen nur zwischen 
	dem Startdatum und dem Bewerbungsschlu&szlig; abgegeben werden. Den 
	Bewerbungszeitraum k&ouml;nnen Sie nicht k&uuml;rzen, wenn bereits Bewerbungen 
	vorliegen. Sie k&ouml;nnen aber jederzweit verl&auml;ngert werden. Achten Sie 
	aber, da&szlig; die Bewerber das Bewerbungsergebniss erst erhalten, wenn der
	Bewerbungsschlu&szlig; eingetreten ist. Verl&auml;ngern Sie also nicht zu oft, 
	um Bewerber nicht zu vergraulen.
</p>
<p>
	Die neuesten &Auml;nderungen finden Sie hier: <a 
	href="https://github.com/mgaeckler1964/Skills/commits/main/" target=_blank >GitHUB</a>.
</p>
