<h2>
	Benutzungsbedingungen
</h2>
<p>
	Die Software speichert nur Daten, die f&uuml;r den Betrieb der Software 
	erforderlich sind. Sie werden auch nur an diejenigen weitergegeben, bei denen 
	Sie sich aktiv beworben haben.
</p>
<p>
	Auf Ihrem Rechner werden auch keine dauerhaften Cookies gespeichert. Der 
	&uuml;bliche Cookiebanner, der die meisten nervt, ist also nicht erforderlich. 
</p>
<p>
	Dies ist eine Testversion. Noch nicht alle Funktionen sind implementiert. Ganz 
	sicher wird aber kommen, da&szlig; Sie alle Daten selbst komplett l&ouml;schen 
	k&ouml;nnen. Den Quelltext k&ouml;nnen Sie auf meinen  <a target="_blank" 
	href="https://github.com/mgaeckler1964/Skills">Github-Seiten</a> anschauen und 
	herunterladen.
</p>
<p>
	Was erst mal nicht funktioniert bzw, geplant ist, ist ein ausgefeiltes 
	Sicherheitskonzept. Wer also die URL auf Ihre Stellenangebote bzw. -bewerbungen 
	kennt, kann Sie auch anschauen. Es ist aber geplant, die Links so zu gestallten,
	da&szlig; sie nicht erraten werden k&ouml;nnen. Eine Ver&auml;nderung fremder 
	Daten ist aber grunds&auml;tzlich nicht m&ouml;glich.
</p>
<p>
	<b>Mit dem Speichern Ihrer Daten erkl&auml;ren Sie sich mit diesen 
	Bestimmungen einverstanden.</b>
</p>
<hr>